body{
	background: #F2F2F2;
}
.nav{
	border-bottom: 1px solid #F2F2F2;
	z-index: 110;
}
.nav .mybtn{
	position: relative;
	top: 4px;
	margin-right: 15px;
}
.nav span{
	line-height: 30px;
}
.back{
	margin-top: 5px;
}
.back img{
	width: 10px;
	height: 20px;
	margin-left: 7px;
}
.down{
	width: 14px;
	height: 7px;
}
.circle{
	width: 18px;
	height: 18px;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 50%;
	vertical-align: middle;
	margin: 10px;
	background: #fff;
}
.circle.active{
	background:#fff url(../img/list/gou.png) no-repeat;
	background-size: 18px 18px; 
	background-position: center center;
	border: none;
}
.f1 .jiantou{
	width: 6px;
	height: 12px;
	display: inline-block;
	background: url(../img/car/right.png);
	background-size:100% 100%;
	vertical-align:middle;
	margin-top: -3px;
}

.f1 .circle{
	margin-left: -6px;
}
.f1 .logo{
	width: 16px;
	height: 16px;
}
.f1 button{
	border: none;
	background: none;
	margin-top: 10px;
}
.list{
	padding: 10px 0;
}
.list .circle{
	margin-top: 40px;
}
.list .goods{
	width: 100px;
	height: 100px;
	vertical-align: middle;
	margin-right: 10px;
}
.list p{
	max-height: 40px;
	overflow: hidden;
	text-overflow: ellipsis;
	/*white-space: nowrap;*/
}
.list .circle-list{
	display: inline-block;
	width: 20px;
	height: 20px;
	border: 1px solid red;
}
/*.total{
	padding: 0 !important;
}*/
.toal-list{
	height: 51px;
	position: fixed;
	bottom: 0px;
	width: 100%;
}
.toal-list{
	display: none;
}
.toal-list.active{
	display: block;
}
.toal-list .set{
	border: none;
	background: #99cc33;
	color: #fff;
	width: 100px;
	height: 51px;
	font-size: 15px;
	margin-left: 10px;
}
.toal-list .del{
	border: none;
	color: #fff;
	width: 100px;
	height: 51px;
	font-size: 15px;
	margin-left: 10px;
}
.cont{
	margin-bottom: 51px;
	margin-top: 50px;
}
.minu,.plus{
	width: 20px;
	height: 20px;
	border: 1px solid #4d4d4d;
	background: #fff;
}
.plus img{
	width: 12px;
	height: 12px;
	margin-top: -4px;
}
.minu img{
	width: 10px;
	margin-top: -4px;
}
.shuliang{
	display: inline-block;
	color: #666;
	width: 20px;
	text-align: center;
	font-size: 15px;
}
.number{
	display: inline-block;
	margin-right: 10px;
}
.all-sel{
	margin-top: 10px;
}
/*底部样式*/
.bottom{
	width: 100%;
	height: 50px;
	position: fixed;
	bottom: 0;
	left: 0;
	border-top: 1px solid #eaeaea;
}
.bottom img{
	height: 40px;
	margin-top: 6px;
}
/*model*/
.model{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 101;
	background: #fff;
	display: none;
}
.cover{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.3);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	display: none;
}
.lx li{
	text-align: center;
	background: #ccc;
	width: 200px;
	margin-bottom: 5px;
	padding: 5px;
	border-radius: 5px;
}
.lx li.active{
	background: #ff5a00;
	color: #fff;
}
.pic{
	position: relative;
	top: -20px;
}
.sure{
	background: #eb2522;
	border:none ;
	padding: 10px;
	font-size: 17px;
}
.space{
	position: absolute;
	top: 10px;
	right: 10px;
}
.space img{
	width: 14px;
}
