.search{
	position: relative;
	left: 15px;
}
.tit{
	position: fixed;
	top: 50px;
	left: 0;
	width: 100%;
	z-index: 2;
	background: #fff;
}
.nav-list{
	border-right: 1px solid #CCCCCC;
	min-height: 400px;
	position: fixed;
	left: 0;
	top: 102px;
	z-index: 2;
	background: #fff;
	min-height: 800px;
}
.nav-list1{
	border-right: 1px solid #CCCCCC;
	min-height: 400px;
	position: fixed;
	left: 0;
	top: 102px;
	z-index: 2;
	background: #fff;
	min-height: 800px;
}
.nav-list .active:after{
	content: '';
	height: 60%;
	width: 4px;
	background: #669900;
	position: absolute;
	top: 20%;
	left:0;
}
.nav-list1 .active:after{
	content: '';
	height: 60%;
	width: 4px;
	background: #669900;
	position: absolute;
	top: 20%;
	left:0;
}
a:hover{
	text-decoration: none !important;
}
.nav-list .active a{
	color: #669900 !important;
}
.nav-list1 .active a{
	color: #669900 !important;
}
.nav-cont{
	margin-top: 101px;
	margin-bottom: 60px;
	background:#fff;
}
.classify div.active:after{
	content: '';
	height: 2px;
	width: 80%;
	background: #669900;
	position: absolute;
	bottom: 0;
	left: 10%;
}
.classify div.active{
	color: #669900 !important;
}

.cont{
	display: none;
}
.cont.active{
	display: block;
}
.cont1{
	display: none;
}
.cont1.active{
	display: block;
}
.style{
	border: 1px solid #EBEBEB;
	border-radius: 5px 5px 0 0;
}

/*model*/
.searchCover{
	position: fixed;
	top: -300px;
	left: 0;
	background: #F2F2F2;
	width: 100%;
	height: 100%;
	z-index: 200;
	display: none;
}
.model-search{
	background: #f2f2f2;
	height: 30px;
	border-radius: 15px;
	border: 1px solid #EBEBEB;
	width: 100%;
	font-size: 13px;
	color: #999;
	padding-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.model-button{
	width: 100%;
	border: none;
	background: #F2F2F2;
	font-size: 13px;
	color: #333;
	border-radius: 5px;
	margin-bottom: 10px;
}
.model-lx{
	display: inline-block;
	margin-left: 10px;
	position: relative;
	top: 2px;
}
