body{
	background: #f2f2f2;
}
.owl-controls {
    margin-top: -35px !important;
}
.owl-theme .owl-controls .owl-page span{
	background: #fff !important;
}
/*.owl-theme .owl-controls .owl-page.active span{
	background: #669900 !important;
	display: inline-block !important;
}*/
.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span{
	background: #669900 !important;
	/*opacity: 1;*/
}
/*头部样式*/
.nav{
	border-bottom: none;
}
.nav .mybtn{
	position: relative;
	top: 4px;
	margin-right: 15px;
}
.nav span{
	line-height: 30px;
}
.back img{
	width: 10px;
	height: 20px;
	margin-left: 7px;
}
/*头部样式*/
.swiper-pagination-bullet-active{
	background: #669900 !important;
}

.list img{
	width: 15px;
	height: 15px;
	margin-right: 2px;
}
.right{
	width:8px;
	height: 14px;
	margin-top: -3px;
	margin-left: 5px;
}
.bor-b-ebebeb{
	border: 1px solid #EBEBEB;
}
.up{
	width: 12px;
	height: 16px;
}
.btn1{
	width: 100%;
	height: 45px;
	border: none;
	color: #fff;
	font-size: 14px;
}
.inner{
	border: 1px solid #ebebeb;
	border-radius: 4px;
	padding: 6px;
}
.inner img{
	width: 30px;
}
.bottom1{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 45px;
}

.fuwu{
	font-size: 11px;
	color: #4c4c4c;
	border-top: 1px solid #f2f2f2;
	border-bottom: 1px solid #f2f2f2;
}
.score{
	display: inline-block;
	padding: 1px 10px;
	background: #669900;
	border-radius: 5px;
	margin-right: 10px;
}
.b{
	border-bottom: 1px solid #EBEBEB;
}
.f:after{
	content: '';
	height: 2px;
	width: 100%;
	background: #669900;
	position: absolute;
	bottom: 0;
	left: 0%;
}
.pic1{
	width: 18px;
	margin-bottom: 2px;
}
/*model*/
.model{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 101;
	background: #fff;
	display: none;
}
.cover{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.3);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	display: none;
}
.lx li{
	text-align: center;
	background: #ccc;
	width: 200px;
	margin-bottom: 5px;
	padding: 5px;
	border-radius: 5px;
}
.lx li.active{
	background: #ff5a00;
	color: #fff;
}
.pic{
	position: relative;
	top: -20px;
}
.sure{
	background: #eb2522;
	border:none ;
	padding: 10px;
	font-size: 17px;
}
.space{
	position: absolute;
	top: 10px;
	right: 10px;
}
.space img{
	width: 14px;
}
.product{
	display: none;
}
.product.active{
	display:block ;
}
.minu img{
	width: 25px;
}
.plus img{
	width: 25px;
}
.number{
	width: 20px;
	text-align: center;
	display: inline-block;
}
.bottom1{
	z-index: 999999 !important;
}
