.cont{
	margin-top: 50px;
}
.cont1{
	margin-top: 50px;
	margin-bottom: 220px;
}
.cont26{
	margin-top: 50px;
	
}
.back{
	margin-top: 5px;
}
.tj{
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
}
body{
	background: #F2F2F2;
}
.left{
	display: inline-block;
	border: 1px solid #669900;
	width: 90px;
	text-align: center;
	height: 30px;
	line-height: 26px;
	border-radius: 15px 0 0 15px;
}
.left.active{
	background: #669900;
	color: #fff;
}
.right{
	display: inline-block;
	border: 1px solid #669900;
	width: 90px;
	text-align: center;
	height: 30px;
	line-height: 26px;
	border-radius: 0 15px 15px 0;
}
.right.active{
	background: #669900;
	color: #fff;
}
.d{
	width: 14px;
	margin-top: 4px;
}
.quan{
	background: url(../img/person/bg11.png) no-repeat center center;
	background-size: 100% 100%;
}
.bq{
	background: #eb2522;
	color: #fff;
	font-size: 10px;
	display: inline-block;
	width: 200px;
	padding: 3px;
	-webkit-transform: rotateZ(-45deg);
	-moz-transform: rotateZ(-45deg);
	transform: rotateZ(-45deg);
	position: absolute;
	top: 8px;
	left: -80px;
}
.money{
	overflow: hidden;
}
.list{
	display: none;
}
.list.active{
	display: block;
}
.tickets img{
	width: 100px;
}
