<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title>提现</title>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/Bootstrap/css/bootstrap.css" />
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/public.css" />
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/myStyle.css" />
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/xgpasword1.css" />
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/bottomTap.css" />
	</head>

	<body>
		<!--顶部标题-->
		<div class="nav text-center">
					<a href="#" onClick="javascript:history.back(-1);"><button type="button" class="mybtn pull-left back">
				<img src="__PUBLIC__/img/list/right.png"/>
			</button></a>
			<span class="font17">提现</span>
		</div>

		<!--顶部标题-->
		<div class="container-fluid cont">
			<div class="row bg-fff">
				<div class="col-xs-12 pad-up15 bor-b-f2">
					<span class="font15 color-333">银行卡名称</span>
					<input type="text" class="inp" />
				</div>
				<div class="col-xs-12 pad-up15 bor-b-f2">
					<span class="font15 color-333">持卡人</span>
					<input type="text" class="inp" />
				</div>
				<div class="col-xs-12 pad-up15">
					<span class="font15 color-333">银行卡号</span>
					<input type="text" class="inp" />
				</div>
			</div>
			<div class="row mar-t15">
				<div class="col-xs-12 pad-up15 bg-fff">
					<span class="font15 color-333">提现金额</span>
					<input type="text" class="inp" />
				</div>
				<div class="col-xs-12">
					<p class="font12 mar-t5">余额：200.00 <span class="disply-ib mar-l5 color-972030">*只能提现100的倍数</span></p>
				</div>
			</div>
		</div>
		<div class="col-xs-12 mar-t50 padd_0">
			<button type="button" class="btn-block pad-up10 color-999 font17 bg-ccc no-bor">24小时内到账，确认提现</button>
		</div>
	</body>

</html>