<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<title>此模块尚未开通,敬请期待</title>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/safe.css" />
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/Bootstrap/css/bootstrap.css" />
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/public.css" />
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/myStyle.css" />
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/bottomTap.css" />
	</head>

	<body>
		<!--顶部标题-->
		<div class="nav text-center">
					<a href="#" onClick="javascript:history.back(-1);"><button type="button" class="mybtn pull-left back">
				<img src="__PUBLIC__/img/list/right.png"/>
			</button></a>
			<span class="font17">敬请期待</span>
		</div>

		<!--顶部标题-->
		<div class="container-fluid cont1">
			<div class="row bg-fff">
				<div class="col-xs-12 font15 pad-up15 bor-b-f2 text-center">
					极致购物体验，七色彩商城
				</div>
				<div class="col-xs-12 font15 pad-up15 bor-b-f2">
					<p class="font13 text-indent2 line-h18">
						此模块尚未开通,敬请期待！！！！！！
					</p>
				</div>
				
			</div>
		</div>
	</body>
	<script type="text/javascript" src="__PUBLIC__/js/jquery-3.1.1.min.js"></script>
	<script type="text/javascript">
	</script>

</html>