<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<title>收入管理</title>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/Bootstrap/css/bootstrap.css" />
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/bottomTap.css" />
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/public.css" />
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/myStyle.css" />
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/jilu.css" />
	</head>
	<body>
		<!--顶部标题-->
		<div class="nav text-center">
				<a href="#" onClick="javascript:history.back(-1);"><button type="button" class="mybtn pull-left back">
				<img src="__PUBLIC__/img/list/right.png"/>
			</button></a>
			<span class="font16 tit">收入管理</span>
			<a href="{:U('user/tmoneyrecord')}" style="color:#000000"><button class="mybtn pull-right font15 compile" type="button">
				提现记录
			</button></a>
		</div>
		
		<!--顶部标题-->
		<div class="cont bg-fff">
			<div class="inner">
				<img class="img-responsive" src="__PUBLIC__/img/mine/ty.png"/>
				<div class="infor">
					<p class="font17"> 收入金额</p>
					<p class="font30 color-669900">
					<if condition="$info['userType'] eq 6">
					
					<if condition="$res1 gt 0">
						￥{$res1}</font>
						<else />
						￥0.00</p>
						</if>
					
					<else />
					<if condition="$res gt 0">
						￥{$res}</font>
						<else />
						￥0.00</p>
						</if>
					
						</if>
				</div>
			</div>
			<div class="circle">
				
			</div>
		</div>
		<div class="col-xs-12 mar-t50">
			<a href="{:U('user/tmoney1')}" style="color:#000000"><div class="col-xs-6 text-center">
				<img class="qd" src="__PUBLIC__/img/mine/qd.png"/>
				<p class="color-4c4c4c mar-t15">我要提现</p>
			</div></a>
			<a href="{:U('user/bill')}" style="color:#000000"><div class="col-xs-6 text-center">
				<img class="qd" src="__PUBLIC__/img/mine/zd.png"/>
				<p class="color-4c4c4c mar-t15">我的账单</p>
			</div></a>
		</div>
	</body>
</html>
