<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<title>我的礼品</title>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/public.css"/>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/bottomTap.css"/>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/Bootstrap/css/bootstrap.css"/>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/myStyle.css"/>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/myGift.css"/>
	</head>
	<body>
		<!--顶部标题-->
		<div class="nav text-center">
					<a href="#" onClick="javascript:history.back(-1);"><button type="button" class="mybtn pull-left back">
				<img src="__PUBLIC__/img/list/right.png"/>
			</button></a>
			<span class="font16">我的礼品</span>
		</div>

		<!--顶部标题-->
		<div class="container-fluid cont">
			<div class="row bg-fff pad-up10">
				<div class="col-xs-4">
					<img class="img-responsive" src="__PUBLIC__/img/js/jfdh.png"/>
				</div>
				<div class="col-xs-8 p">
					<p class="font-w mar0">煮蛋器</p>
					<p class="font12 mar-b5">有 效 期 限：2017-05-09至2017-05-26</p>
					<p class="font12 mar-b5">
						14500积分
						<button class="btn-round1 font10 pull-right">已发放</button>
					</p>
					<button class="btn-round font10 bg-669900 color-fff">积分兑换</button>
				</div>
			</div>
		</div>
	</body>
</html>
