<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<title>支付</title>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/public.css"/>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/Bootstrap/css/bootstrap.css"/>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/bottomTap.css"/>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/myStyle.css"/>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/pay.css"/>
	    <link rel="stylesheet" type="text/css" href="__PUBLIC__/layer/need/layer.css"/>
		<script type="text/javascript" src="__PUBLIC__/layer/layer.js" ></script>
		<script type="text/javascript" src="__PUBLIC__/owl/js/jquery-1.8.3.min.js" ></script>
	</head>
	<body>
		<!--顶部标题-->
		<div class="nav text-center">
					<a href="#" onClick="javascript:history.back(-1);"><button type="button" class="mybtn pull-left back">
				<img src="__PUBLIC__/img/list/right.png"/>
			</button></a>
			<span class="font16">发起支付</span>
		</div>
		<input type="hidden" value="{$orderid}" id="orderid">
		<input type="hidden" value="{$code}" id="code">
		<!--顶部标题-->
<!-- 		<div class="container-fluid cont">
			<div class="row">
				<div class="col-xs-12 pad-up15 bor-b-f2">
					<img class="wx" src="__PUBLIC__/img/pay/weixin.png"/>
					<span class="font15">微信支付</span>
					<span class="circle pull-right"></span>
				</div>
				<input type="hidden" value="{$orderId}" id="orderid">
				<div class="col-xs-12 pad-up15 bor-b-f2">
					<img class="wx" src="__PUBLIC__/img/pay/ali.png"/>
					<span class="font15">支付宝支付</span>
					<span class="circle pull-right"></span>
				</div>
			</div>
		</div> -->
		<div class="container-full bg-fff toal-list ">
			<div class="col-xs-12 padd_0 font17">
				<div class="pull-right">
					<!-- <span class="color-669900 t-all">支付:￥{$sumprice}</span> -->
					
					<button type="button" class="set " id="jiesuan">
						支付
					</button>
				</div>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="__PUBLIC__/js/jquery-3.1.1.min.js" ></script>
	<script type="text/javascript">
	 $(function(){	
		  $("#jiesuan").click(function(){  
			  
			   
		      	   
		         var orderid=$("#orderid").val();    
		         var code=$("#code").val();  			 
		     
		        var url = "{:U('user/dopay')}";
		             $.post(url, {orderid:orderid,code:code}, function(res)
       		 {
			  
 	                var wxresult = res.data;
	                  var msg = res.url;
 	                     WeixinJSBridge.invoke(
 	                             'getBrandWCPayRequest', {
 	                                 "appId":wxresult.appId,              //公众号名称，由商户传入
 	                                 "timeStamp":wxresult.timeStamp,      //时间戳，自1970年以来的秒数
 	                                 "nonceStr":wxresult.nonceStr,        //随机串
 	                                 "package":wxresult.package,
 	                                 "signType":wxresult.signType,                   //微信签名方式：默认MD5
 	                                 "paySign":wxresult.paySign          //微信签名
 	                             },
 	                             function(res){
	                                 
 	                                 // 使用以上方式判断前端返回,微信团队郑重提示：res.err_msg将在用户支付成功后返回    ok，但并不保证它绝对可靠。
 	                                 if(res.err_msg == "get_brand_wcpay_request:ok" ) {
	                                  window.location.href = msg;
									   		// layer.open({
									  		//    content: '支付成功'
									  		 //   ,skin: 'msg'
									  		 //   ,time: 3 //3秒后自动关闭
									  		 // });
 	                       
 	                                 }
 	                                 //支付过程中用户取消
 	                                 if(res.err_msg == "get_brand_wcpay_request:cancel" ) {
	                                         
 	                                      layer.open({
								  		    content: '支付失败'
									  		    ,skin: 'msg'
									  		    ,time: 3 //3秒后自动关闭
									  		  });
 	                                 }
 	                                 if(res.err_msg == "get_brand_wcpay_request:fail" ) {
	                                         
 	                                      layer.open({
								  		    content: '支付失败'
									  		    ,skin: 'msg'
									  		    ,time: 3 //3秒后自动关闭
									  		  });
 	                                 }
 	                             }
 	                     );
		           }, 'json')
		  });         
		   $("#jiesuan").click();
	  }); 
	</script>
</html>
