<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<title>退货处理回复</title>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/public.css"/>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/Bootstrap/css/bootstrap.css"/>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/myStyle.css"/>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/tuihuo.css"/>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/bottomTap.css"/>
				<link rel="stylesheet" type="text/css" href="__PUBLIC__/layer/need/layer.css"/>
		<script type="text/javascript" src="__PUBLIC__/layer/layer.js" ></script>
				<script type="text/javascript" src="__PUBLIC__/js/jquery.js" ></script>
		        <script type="text/javascript" src="__PUBLIC__/js/plupload.full.min.js" ></script>
        <script type="text/javascript" src="__PUBLIC__/js/qiniu.js" ></script>
	</head>
	<body>
		 <!--顶部标题-->
		<div class="nav text-center">
					<a href="#" onClick="javascript:history.back(-1);"><button type="button" class="mybtn pull-left back">
				<img src="__PUBLIC__/img/list/right.png"/>
			</button></a>
			<span class="font16">退货处理回复</span>
		</div>

		<!--顶部标题-->
		<div class="container-fluid cont">
			<div class="row">
	
				<div class="col-xs-12">
					<textarea class="font12 color-666" ><empty name="content"><else />{$content}</empty></textarea>
				</div>
			</div>
		</div>
		
	</body>
	
	
</html>
