<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title>商品列表</title>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/myStyle.css"/>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/public.css"/>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/bottomTap.css"/>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/order_sel.css"/>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/Bootstrap/css/bootstrap.css"/>
				<link rel="stylesheet" type="text/css" href="__PUBLIC__/layer/need/layer.css"/>
		<script type="text/javascript" src="__PUBLIC__/layer/layer.js" ></script>
		<script type="text/javascript" src="__PUBLIC__/owl/js/jquery-1.8.3.min.js" ></script>
		<script type="text/javascript" src="__PUBLIC__/js/jquery-1.7.2.min.js" ></script>
		<script type="text/javascript" src="__PUBLIC__/js/jquery.scrollExtend.js" ></script>
	</head>
	   <style>
        #no{
            display: none;
            text-align: center;
        }
		  #no1{
            display: none;
            text-align: center;
        }
    </style>
	<body>
		<div class="nav">
			<!--<button type="button" class="mybtn"></button>-->
			<a href="#" onClick="javascript:history.back(-1);"><button type="button" class="mybtn pull-left back">
				<img src="__PUBLIC__/img/list/right.png"/>
			</button></a><input type="text" class="search"  id="sea" style="width:175px;" />
			<button class="mybtn pull-right" type="button">
		
				<img class="mycar" src="__PUBLIC__/img/sousuo.png" id="submit"/>
			</button>
		</div>
		<!--内容区-->
		<div class="container-fluid tit">
			<div class="row classify text-center font15 color-1a1a1a">
				<div class="col-xs-4 pad-up15 active">
					综合
				</div>
				<div class="col-xs-4 pad-up15">
					销量
				</div>
				<div class="col-xs-4 pad-up15">
					新品
				</div>
			</div>
		</div>
		<div class="container-fluid cont">
			<div class="row cont-list active" >


			
			<if condition="$list neq ''"> 
			
				<volist name="list" id="v" empty="没有商品噢！" >
				<div class="col-xs-12 bg-fff list"  >
					<a  href="{:U('good/gooddetail',array('goodsid'=>$v['id']))}" style="color:#000000"><div class="pad-lr10 border-b pad-b10">
						<img class="goods img-responsive pull-left" src="{$v.meubleImage}"/>
						<p class="heightControl-2 pad-t5" style="min-height:25px">
							<a class="font15 color-1a1a1a" href="{:U('good/gooddetail',array('goodsid'=>$v['id']))}">
								{$v.meubleName}&nbsp;{$v.productid}
							</a>
						</p>
						<a  href="{:U('good/gooddetail',array('goodsid'=>$v['id']))}" style="color:#000000"><p class="color-666 font13">销量：<span>{$v.imaginerNumber}</span></p>
						<p class="mar0">
							<span class="font13 color-ff5b01">￥{$v['son'][0]['meublePrix']}</span>
						</p></a>
					</div>
					</a>
				</div>
					
			</volist>
			
			<else />
			       <volist name="list" id="v" empty="该分类下面没有相关商品噢" >
				<div class="col-xs-12 bg-fff list"  >
					<a  href="{:U('good/gooddetail',array('goodsid'=>$v['id']))}" style="color:#000000"><div class="pad-lr10 border-b pad-b10">
						<img class="goods img-responsive pull-left" src="{$v.meubleImage}"/>
						<p>
							<a class="font15 color-1a1a1a" href="{:U('good/gooddetail',array('goodsid'=>$v['id']))}">
								{$v.meubleName}&nbsp;{$v.productid}
							</a>
						</p>
						<a  href="{:U('good/gooddetail',array('goodsid'=>$v['id']))}" style="color:#000000"><p class="color-666 font13">销量：<span>{$v.imaginerNumber}</span></p>
						<p class="mar0">
							<span class="font13 color-ff5b01">￥{$v['son'][0]['meublePrix']}</span>
						</p></a>
					</div>
					</a>
				</div>
					
			</volist>
       
			</if>
	
		
				</div>
                   <div class="row cont-list" >
                   <volist name="sale" id="v" empty="暂时没有数据" >
                 
				<div class="col-xs-12 bg-fff list" >
					<a  href="{:U('good/gooddetail',array('goodsid'=>$v['id']))}" style="color:#000000"><div class="pad-lr10 border-b pad-b10">
						<img class="goods img-responsive pull-left" src="{$v.meubleImage}"/>
						<p>
							<a class="font15 color-1a1a1a" href="{:U('good/gooddetail',array('goodsid'=>$v['id']))}">
								{$v.meubleName}&nbsp;{$v.productid}
							</a>
						</p>
						<a  href="{:U('good/gooddetail',array('goodsid'=>$v['id']))}" style="color:#000000"><p class="color-666 font13">销量：<span>{$v.imaginerNumber}</span></p>
						<p class="mar0">
							<span class="font13 color-ff5b01">￥{$v['son'][0]['meublePrix']}</span>
						</p></a>
					</div>
					</a>
				</div>
             </volist>
			
			</div>	
			<div class="row cont-list" >
			
			<volist name="new" id="v" empty="暂时没有数据" >
				<div class="col-xs-12 bg-fff list" id="lists">
					<a  href="{:U('good/gooddetail',array('goodsid'=>$v['id']))}" style="color:#000000">
					<div class="pad-lr10 border-b pad-b10">
						<img class="goods img-responsive pull-left" src="{$v.meubleImage}"/>
						<p>
							<a class="font15 color-1a1a1a" href="{:U('good/gooddetail',array('goodsid'=>$v['id']))}">
								{$v.meubleName}&nbsp;{$v.productid}
							</a>
						</p>
						<a  href="{:U('good/gooddetail',array('goodsid'=>$v['id']))}" style="color:#000000"><p class="color-666 font13">销量：<span>{$v.imaginerNumber}</span></p>
						<p class="mar0">
							<span class="font13 color-ff5b01">￥{$v['son'][0]['meublePrix']}</span>
						</p></a>
					</div>
					</a>
				</div>
               </volist>
			</div>	
			  <P id="no">已经到底了</P>
			
		</div>
	</body>
	<script>
$(function(){
	
	 $('#submit').click(function(){
	    var url = "{:U('Good/goodList')}";
	    location.href=url+'?sea='+$('#sea').val();
	})
})
</script>
	<script type="text/javascript">
		$('.classify div').click(function(){
			$('.classify div').removeClass('active');
			$(this).addClass('active');
			$('.cont-list').removeClass('active');
			$('.cont-list').eq($(this).index()).addClass('active');

		})
		
		
		        $(function(){
            var winH = $(window).height(); //页面可视区域高度
            var i = 0; //设置当前页数
            $(window).scroll(function () {
            
                var pageH = $(document).height();//浏览器当前窗口文档的高度
                var scrollT = $(window).scrollTop(); //滚动条top
                var aa = (pageH-winH-scrollT)/winH;
                if(aa==0){
                    $.ajax({
                        url:"{:U('Good/getauto')}",
                        type:'post',
                        data:{"page":i},
                        dataType:'json',
                        success: function (json) {
                               if(json)
							   {
                                    for(var x=0; x<json.length;x++) {
                                        var obj = json[x];
									   var	id=obj.id;
										var url='/index.php/home/good/gooddetail?goodsid='+id;
                                        var sli = '<div class="col-xs-12 bg-fff list" id="lists"><a  href="'+url+'" style="color:#000000">'+
												'<div class="pad-lr10 border-b pad-b10">'+
													'<img class="goods img-responsive pull-left" src="'+obj['meubleImage']+'"/>'+
												'<p>'+
												'<a class="font15 color-1a1a1a" href="'+url+'">'+obj['meubleName']+'&nbsp;'+obj['productid']+'</a>'+
												'</p>'+
												'<a  href="'+url+'" style="color:#000000"><p class="color-666 font13">销量：<span>'+obj['faitNumber']+'</span></p>'+
													'<p class="mar0">'+
												'<span class="font13 color-ff5b01">￥'+obj['minPrice']+'</span>'+
												'</p></a>'+
												'</div>'+
													'</a>'+
												'</div>'; 
                                  
                                        var $li = $(sli);
                                        
										  $("#zhuijia").append($li);
                                          $("#no").hide();
                                    }
                                    i++;
							}
                                else {
                           $("#no").show();
								}
                               
                        },
                        error:function(){
						       layer.open({
			        		    content: "加载异常"
			        		    ,skin: 'msg'
			        		    ,time: 3 //3秒后自动关闭
			        		  }); 
                        }
                    });
                }
				 
            });
			
			
			
			  var winH = $(window).height(); //页面可视区域高度
            var i = 0; //设置当前页数
            $(window).scroll(function () {
            
                var pageH = $(document).height();//浏览器当前窗口文档的高度
                var scrollT = $(window).scrollTop(); //滚动条top
                var aa = (pageH-winH-scrollT)/winH;
                if(aa==0){
                    $.ajax({
                        url:"{:U('Good/getauto2')}",
                        type:'post',
                        data:{"page":i},
                        dataType:'json',
                        success: function (json) {
                               if(json)
							   {
                                    for(var x=0; x<json.length;x++) {
                                        var obj = json[x];
									   var	id=obj.id;
										var url='/index.php/home/good/gooddetail?goodsid='+id;
                                        var sli = '<div class="col-xs-12 bg-fff list" id="lists"><a  href="'+url+'" style="color:#000000">'+
												'<div class="pad-lr10 border-b pad-b10">'+
													'<img class="goods img-responsive pull-left" src="'+obj['meubleImage']+'"/>'+
												'<p>'+
												'<a class="font15 color-1a1a1a" href="'+url+'">'+obj['meubleName']+'&nbsp;'+obj['productid']+'</a>'+
												'</p>'+
												'<a  href="'+url+'" style="color:#000000"><p class="color-666 font13">销量：<span>'+obj['faitNumber']+'</span></p>'+
													'<p class="mar0">'+
												'<span class="font13 color-ff5b01">￥'+obj['minPrice']+'</span>'+
												'</p></a>'+
												'</div>'+
													'</a>'+
												'</div>'; 
                                  
                                        var $li = $(sli);
                                        
										  $("#zhuijia1").append($li);
                                          $("#no").hide();
                                    }
                                    i++;
							}
                                else {
                           $("#no").show();
								}
                               
                        },
                        error:function(){
						       layer.open({
			        		    content: "加载异常"
			        		    ,skin: 'msg'
			        		    ,time: 3 //3秒后自动关闭
			        		  }); 
                        }
                    });
                }
				 
            });
			
			  var winH = $(window).height(); //页面可视区域高度
            var i = 0; //设置当前页数
            $(window).scroll(function () {
            
                var pageH = $(document).height();//浏览器当前窗口文档的高度
                var scrollT = $(window).scrollTop(); //滚动条top
                var aa = (pageH-winH-scrollT)/winH;
                if(aa==0){
                    $.ajax({
                        url:"{:U('Good/getauto1')}",
                        type:'post',
                        data:{"page":i},
                        dataType:'json',
                        success: function (json) {
                               if(json)
							   {
                                    for(var x=0; x<json.length;x++) {
                                        var obj = json[x];
									   var	id=obj.id;
										var url='/index.php/home/good/gooddetail?goodsid='+id;
                                        var sli = '<div class="col-xs-12 bg-fff list" id="lists"><a  href="'+url+'" style="color:#000000">'+
												'<div class="pad-lr10 border-b pad-b10">'+
													'<img class="goods img-responsive pull-left" src="'+obj['meubleImage']+'"/>'+
												'<p>'+
												'<a class="font15 color-1a1a1a" href="'+url+'">'+obj['meubleName']+'&nbsp;'+obj['productid']+'</a>'+
												'</p>'+
												'<a  href="'+url+'" style="color:#000000"><p class="color-666 font13">销量：<span>'+obj['faitNumber']+'</span></p>'+
													'<p class="mar0">'+
												'<span class="font13 color-ff5b01">￥'+obj['minPrice']+'</span>'+
												'</p></a>'+
												'</div>'+
													'</a>'+
												'</div>'; 
                                  
                                        var $li = $(sli);
                                        
										  $("#zhuijia2").append($li);
                                          $("#no").hide();
                                    }
                                    i++;
							}
                                else {
                           $("#no").show();
								}
                               
                        },
                        error:function(){
						       layer.open({
			        		    content: "加载异常"
			        		    ,skin: 'msg'
			        		    ,time: 3 //3秒后自动关闭
			        		  }); 
                        }
                    });
                }
				 
            });
        });
	</script>



</html>
